<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Галерея</title>
</head>
<body>

<form method="POST" enctype="multipart/form-data" action="/upload">
    <input class="form-control" type="file" name="file">
    <input type="submit" class="btn btn-primary" value="Upload"/>
</form>

<div>
    <ul>
        <li th:each="img : ${images}">
            <img class='img-thumbnail' th:src="'data:${};base64,' + ${img}" />
        </li>
    </ul>
</div>

</body>
</html>
